.navbar {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-container img {
    height: 50px;
    margin-left: 2rem;
}

.title {
    margin: 30px;
    font-size: 30px;
    font-family: 'Futura Bold', sans-serif;
    white-space: nowrap;
}