.container {
    display: flex;
    flex-wrap: wrap;
}

.product-catalog {
    flex: 1;
}

.products-cart {
    flex: 1;
    margin-left: 5rem;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: scroll;
}

@media (max-width: 1475px) {
    .container {
        flex-direction: column;
    }

    .products-cart {
        margin-left: 2rem;
    }
}