.product-card h2,
.product-card p {
    margin: 0;
    width: 90%;
}

.product-grid {
    margin-left: 3rem;
    display: grid;
    margin: 1rem 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    width: 50%;
}

.product-card {
    position: relative;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 30px;
}

.product-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(250, 250, 250, 0.826);
}

.product-card img {
    width: 20rem;
    height: 20rem;
    object-fit: contain;
}

.product-card img:hover {
    transform: scale(1.1);
}

.product-card .description {
    display: none;
}

.product-card:hover .description {
    display: block;
}

.product-card button {
    position: absolute;
    color: #fff;
    background-color: #ff4800;
    top: 10%;
    right: 10px;
    transform: translateY(-50%);
    margin: 0.5rem;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border: none;
    border-radius: 30px;
}

.product-card button:hover {
    background-color: #d03b00;
}