<h1>Products cart!</h1>
<div class="cart-table">
    <div class="cart-product">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Image</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Action</th>
                    <th>Total</th>
                </tr>
            </thead>
            <!-- <tbody>
                <tr>
                    <td>Iphone</td>
                    <td>Image</td>
                    <th>2
                    <td>100
                    <td>
                        <button class="btn btn-danger"> x </button>
                    <td>100
                    </td>
            </tbody> -->
        </table>
    </div>
</div>